.box-form {
  display: flex;
  /* flex-direction: column; */
  gap: 2em;
  align-items: center;
  margin: 1rem;
  /* width: 50%; */
  justify-content: center;
  font-size: larger;
}


.icon-button,
.icon-arrow {
  font-size: 32px;
}
.update {
  color: green;
}
.update :hover {
  color: limegreen;
}

.trash {
  color: red;
}
.trash :hover {
  color: violet;
}

.icon-button :hover {
  cursor: pointer;
}

.ul-box{
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  margin-top: 1rem;
}

li {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 32px;
}
